# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [4]:
cars1 = pd.read_csv('./05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('./05_Merge/Auto_MPG/cars2.csv')

In [6]:
cars1.info()

In [5]:
cars2.info()

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:
cars1.info()

In [9]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.info()

### Step 5. What is the number of observations in each dataset?

In [16]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [18]:
cars = cars1.append(cars2, ignore_index=True)
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null int64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model           398 non-null int64
origin          398 non-null int64
car             398 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 28.1+ KB

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [21]:
nr_owners = np.random.randint(15000, high=73001, size=398)
nr_owners

array([40968, 38323, 71673, 40181, 25081, 55740, 71003, 17446, 54294,
       40599, 50751, 55278, 37105, 69386, 55317, 49055, 47499, 18394,
       26786, 33121, 32434, 40974, 48603, 16845, 62835, 56575, 27500,
       26670, 69334, 72363, 18511, 64401, 70388, 19603, 17597, 26247,
       72439, 26190, 46059, 63924, 47463, 59846, 34030, 34758, 35966,
       66528, 58180, 16554, 58717, 62535, 26863, 43425, 60471, 40125,
       71609, 58157, 70925, 36260, 39790, 24013, 30219, 24311, 70594,
       54020, 60050, 41346, 38871, 53133, 27375, 30482, 48362, 42672,
       69633, 56099, 30186, 34737, 33322, 55861, 46621, 33499, 54351,
       32099, 17796, 42310, 56451, 34085, 20760, 35343, 49863, 44189,
       44528, 67006, 16465, 69296, 42452, 27680, 31847, 57684, 23562,
       28886, 20502, 72473, 42273, 63479, 48599, 64709, 52295, 47314,
       28809, 53663, 49066, 39987, 25248, 18763, 18215, 50216, 47666,
       70952, 65029, 40204, 24832, 17682, 24902, 33532, 49893, 59201,
       50588, 50066, 31036, 29789, 36389, 16163, 37694, 66540, 17692,
       45811, 68507, 67714, 23449, 21850, 19726, 25025, 53826, 19100,
       71748, 52652, 19842, 40941, 66593, 37461, 63533, 72867, 46246,
       38818, 16836, 68278, 49996, 45363, 65522, 25254, 16016, 52216,
       56734, 23094, 38996, 58008, 71988, 43783, 70925, 31586, 35532,
       34136, 57570, 24070, 71085, 51431, 61627, 66084, 60758, 26953,
       58049, 25237, 29320, 17593, 48253, 33698, 17825, 34228, 24702,
       53239, 71771, 47456, 44707, 19539, 18066, 47395, 58346, 20172,
       31286, 60756, 70838, 49729, 21102, 41813, 33638, 24737, 17486,
       72616, 20403, 54350, 65514, 33633, 48201, 47064, 18920, 24837,
       60428, 72035, 24651, 60863, 64595, 40432, 24880, 55244, 30649,
       53052, 70159, 39798, 25239, 43289, 19845, 36972, 62123, 66727,
       44922, 65401, 70910, 30221, 65146, 26295, 44339, 15002, 69348,
       63516, 44123, 26346, 21605, 18147, 33058, 68229, 33348, 23536,
       28152, 51426, 17727, 68929, 58131, 46594, 66115, 46075, 37625,
       33166, 45441, 38644, 29504, 52744, 54059, 47505, 40410, 52899,
       35766, 70283, 61127, 40225, 44690, 65805, 22617, 34822, 27665,
       15503, 38443, 33515, 54041, 59170, 28704, 29508, 52002, 26589,
       49511, 51980, 54035, 57143, 31799, 42351, 16484, 35477, 69464,
       22643, 48852, 62532, 24622, 67235, 46141, 33058, 28131, 44409,
       65559, 50188, 16737, 69156, 60800, 21905, 20170, 39746, 49328,
       23488, 17537, 71438, 26702, 31360, 34511, 53229, 29340, 48159,
       56210, 15832, 25277, 41165, 27393, 43410, 20101, 39844, 48087,
       44489, 34741, 67775, 50841, 54398, 25048, 47401, 19061, 19118,
       21371, 29453, 28490, 24141, 57108, 29587, 28450, 57295, 67353,
       71942, 36643, 23371, 26528, 55682, 62747, 46050, 39157, 30454,
       52449, 24732, 37886, 48648, 67965, 67263, 64226, 32960, 66664,
       60983, 66999, 33155, 44540, 29698, 51714, 27565, 65560, 24607,
       47651, 40681, 43139, 59267, 57232, 18077, 40667, 68424, 54795,
       33871, 68246, 63081, 46555, 63883, 57582, 45081, 25974, 33512,
       53047, 42569])

### Step 8. Add the column owners to cars

In [22]:
cars['owners'] = nr_owners
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,40968
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,38323
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,71673
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,40181
4,17.0,8,302,140,3449,10.5,70,1,ford torino,25081
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,45081
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,25974
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,33512
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,53047
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,42569